.nav {
    background-color: rgb(16, 16, 71);
    color: white;
}

.deleteform {
    display:inline-block
}

.dataTable {
    width: 100%;
}

td {
    text-align: center;
}

.infoDiv {
    height: 300px;
    box-shadow: 5px 10px 18px grey;
}

.imageDiv {
    height: 70%;
}

.imageDiv img {
    width: 150px;
    height: 150px;
    margin:auto;
}

.descDiv {
    height: 30%;
}

#showcase {
    height: 100vh;
    background: url(../../public/images/background/bk1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}